/vendor
/node_modules
/dashboard/uploads
/uploads
*.sql
*.log
*.zip
.env
/google-api-client/vendor
/google-api-client/*.zip
.DS_Store
Thumbs.db
/dashboard/letters/admission_letters/*.pdf
/dashboard/logs
/june2025/dashboard/uploads
/june2025/dashboard/logs
/june2025/dashboard/letters/admission_letters/*.pdf
/june2025/dashboard/error_log
/june2025/dashboard/db.php
/june2025/includes/dbconnection.php
hostinger_adullam_deploy
hostinger_adullam_deploy.pub
